.description {
  width: 80%;
}

.infos {
  display: none;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.experiencesGroup {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin-top: 2rem;
}

.experienceTitle {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.1rem;
}

.date {
  font-weight: 400;
  color: var(--secondary-hex);
}

.experienceSubTitle {
  color: var(--secondary-hex);
}

.experienceLibs {
  color: var(--secondary-hex);
  margin: 1rem 0;
}

.list {
  margin-top: 1.5rem;
  width: 50%;
}

@media (max-width: 64rem) {
  .description {
    width: 100%;
  }

  .list {
    width: 100%;
  }
}

@media print {
  .off-print,
  .off-print * {
    display: none !important;
  }

  .on-print,
  .on-print * {
    display: flex !important;
  }
}
